.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(30, 198, 198);
  z-index: 0;
}


.calendar {
  font-family: Arial, sans-serif;
  position:fixed;
  top: 5vw; /* Adjust top positioning as needed */
  left: 18vw; /* Adjust left positioning as needed */
  transform: scale(1.7);
  max-width: 36vw;
  margin: 0 auto;
  height: 2.7vw;
}
.event-form-background {
  position: absolute;
  top: 40vw;
  left: 33.5vw;
  width: 20px;
  background-color: rgb(202, 58, 58);
  z-index: 10;
}

.event-form-container {
  position: absolute;
  display: flex;
  justify-content: space-around; /* Instead of space-between to give equal spacing around items */
  align-items: center;
  padding: 10px; /* Add padding for spacing inside the container */
  bottom: -60px; /* Use bottom instead of margin-bottom for absolute positioning */
  left: 9.5%;
  transform: translateX(-53%) scale(1.3); /* Center the container horizontally */
  width: 42vw;
  background-color: rgb(30, 198, 198);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), /* Lowered intensity and changed color */
  0 15px 20px rgba(0, 0, 0, 0.15);
  
  border-radius: 20px; /* Add rounded corners */
  z-index: 100; /* Ensure it's above other elements */
}
.event-delete-container{
  position: absolute;
  display: flex;
  justify-content: space-around; /* Instead of space-between to give equal spacing around items */
  align-items: center;
  padding: 1.2vw; /* Add padding for spacing inside the container */
  bottom: -8vw; /* Use bottom instead of margin-bottom for absolute positioning */
  left: 23.2%;
  transform: translateX(-53%) scale(1.3); /* Center the container horizontally */
  width: 30vw;
  background-color: rgb(30, 198, 198);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), /* Lowered intensity and changed color */
  0 15px 20px rgba(0, 0, 0, 0.15);
  
  border-radius: 20px; /* Add rounded corners */
  z-index: 100; /* Ensure it's above other elements */ 
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
  border: 2px solid #16b7b7; /* Example focus color */
  outline: none; /* Removes the default outline */
  box-shadow: 0 0 5px rgba(21,158,158,0.75); /* Adds a glow effect */
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 1px;
  background-color: white;
  
}
.selected-date {
  font-size: 1vw;
  font-weight: bold;
  width: 30vw;
  background-color: white;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  top: 0vw;
  left: 0vw;
  font-size: 0.6vw;
}

.sign-out-button {
  top:0; 
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start; /* Align items to the top */
  z-index: 100;
  
}
.calendar-container {
  position: absolute;
  top: 3vw; /* Adjust top positioning as needed */
  left: 8vw; /* Adjust left positioning as needed */
  transform: scale(1.4);
  width: 50%;
  font-family: 'Arial', sans-serif
} 

.calendar-grid {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

.calendar-grid th,
.calendar-grid td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.calendar-grid th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.calendar-day.selected {
  background-color: #b3d4fc;
  transform: scale(1.2); /* Slightly scale up the selected day */
  transition: background-color 0.2s ease, transform 0.2s ease;
  color: #333;
  border-radius: 10px;
}

/* Optional: Add a box around the calendar */
.calendar-box {
  border: 1px solid #000;
}

.non-clickable {
  cursor: default;
}

.empty-day {
  height: 20px; /* Or whatever fixed height you prefer */
  width: 20px;  /* Or whatever fixed width you prefer */
}