.App {
  text-align: center;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.main-page {
  position: absolute;
  top: 7.5vh;
  left: 7.5vw;
  width: 85vw;
  height: 85vh;
  background: #E1F1F2; /* Black backdrop with 50% opacity */
  object-fit: contain;
}
.main-page-no-weather{
  position: absolute;
  top: 7.5vh;
  left: 7.5vw;
  width: 85vw;
  height: 85vh;
  background: #E1F1F2; /* Black backdrop with 50% opacity */
  object-fit: contain;
  box-sizing: border-box;
  padding-left: 15%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #10889E;
  z-index: 0;
}



.banner {
  position: absolute;
  display: flex;
  justify-content: space-around; /* Instead of space-between to give equal spacing around items */
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height:7.5vh;
  background-color: rgb(0, 0, 0);
  cursor: default;
  color: white;
}

.Sign-in-link{
  text-decoration: none;
}

.navigation {
  position:absolute;
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items to the left */
  top: 0vw;
  left: 0vw;
  font-size: 0.8vw;
  height: 7.5vh;
  color: white;
  z-index: 200;
  background-color: rgb(30, 34, 37);
}
.User-info {
  
  padding-right: 2vw;

}
.sign-out-button {
  top:0; 
  left: 0;
  width:5vw;
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items to the left */
  justify-content: center; /* Align items to the top */
  z-index: 10000;
  margin-right: 2vw;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid #007bff;
  border-radius: 6px;
}

.sign-out-button:hover {
  background-color: #0483aa; /* Green */
  color: white;
}

.back-button {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  background-color: #0483aa;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  width:4vw;
  height:2.5vh;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-right: 2vw;
}

.back-button:hover {
  background-color: white;
  color:#0483aa;
}



.PageContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.75);
}
.SignInButton{
  text-decoration: none;
position: relative;
display: block;
width: 200px;
height: 50px;
margin: 20px auto;
background-color: #4285f4;
color: white;
border-radius: 5px;
font-size: 16px;
cursor: pointer;


  &:hover {
    background-color: #357ae8;
  }
}